<div class="form-row">
    <div class="form-item">
        <label>Player Name</label>
        <input type="text" name="name" value="<%= player.name %>">

    </div>
    <div class="form-item">
            <label>Team</label>
        <select name="team">
        <% teams.forEach( team =>{ %>
            <% if (team.id === player.team) { %>
                <option selected label="<%= team.name %>" value="<%= team.id %>">
            <% } else { %>
                <option  label="<%= team.name %>" value="<%= team.id %>">
            <% } %>
        <% }) %>
        </select>
    </div>

</div>
<div class="form-row">
    <div class="form-item">
        <label>Position</label>
            <select name="position">
                <option value="RHP">Right-handed Pitcher</option>
                <option value="LHP">Left-handed Pitcher</option>
            </select>

    </div>

    <div class="form-item">
        <label>Date of Birth</label>
        <input type="date" name="dob"
                value="<%= player.dob == null ? '' : 
                player.dob.toISOString().split('T')[0] %>">
        </div>
</div>


<div class="form-row">
   
    <div class="form-item">
        <label>Hitting</label>
        <input type="number" name="hitting" min="20" max="80" step="5" value="<%= player.hitting %>">
    </div>
    <div class="form-item">
        <label>Power</label>
        <input type="number" name="power" min="20" max="80" step="5" value="<%= player.power %>">
    </div>
    <div class="form-item">
        <label>Running</label>
        <input type="number" name="running" min="20" max="80" step="5" value="<%= player.running %>">
    </div>
    <div class="form-item">
        <label>Fielding</label>
        <input type="number" name="fielding" min="20" max="80" step="5" value="<%= player.fielding %>">
    </div>
    <div class="form-item">
        <label>Throwing</label>
        <input type="number" name="throwing" min="20" max="80" step="5" value="<%= player.throwing %>">
    </div>
</div>

<div class="form-row">
   
    <div class="form-item">
        <label>Fastball</label>
        <input type="number" name="fastball" min="20" max="80" step="5" value="<%= player.fastball %>">
    </div>
    <div class="form-item">
        <label>Slider</label>
        <input type="number" name="slider" min="20" max="80" step="5" value="<%= player.slider %>">
    </div>
    <div class="form-item">
        <label>Curveball</label>
        <input type="number" name="curveball" min="20" max="80" step="5" value="<%= player.curveball %>">
    </div>
    <div class="form-item">
        <label>Changeup</label>
        <input type="number" name="changeup" min="20" max="80" step="5" value="<%= player.changeup %>">
    </div>
    <div class="form-item">
        <label>Cutter</label>
        <input type="number" name="cutter" min="20" max="80" step="5" value="<%= player.cutter %>">
    </div>
    <div class="form-item">
        <label>Splitter</label>
        <input type="number" name="splitter" min="20" max="80" step="5" value="<%= player.splitter %>">
    </div>
    <div class="form-item">
        <label>Control</label>
        <input type="number" name="control" min="20" max="80" step="5" value="<%= player.control %>">
    </div>
</div>


<div class="form-row">
    <div class="form-item form-item-no-grow">
         <label>Image</label>
        <input type="file" name="plimage" class="player-image filepond">
    </div>

    <div class="form-item">
    <label>Description</label>
    <textarea  name="description"><%= player.description %></textarea>
    </div>

</div>



