<h2 class="page-header">Search Player</h2>
<form action="/players" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>

        <div class="form-item">
            <label>Position</label>
            <input type="text" name="position" value="<%= searchOptions.position %>">
        </div>
    </div>
    
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<div>
    <% players.forEach(player => { %>
    <div class='card'>
            <a href="/players/<%= player.id %>">
                <img  src="<%= player.playerImagePath %>" style="width:100%">
                
             <div class="container1">
                <h4 class='caption'><%= player.name %></h4>
                <p class='caption'><i> <%= player.position %></i></p>
             </div>
        </div>
        </a>
    <% }) %>
</div>