<h2><%= team.name %></h2>

<% if (playersInTeam.length > 0) {%>
    <h2>Players</h2>
     <% playersInTeam.forEach(player => { %>
    <div>
        <a href="/players/<%= player.id %>">
            <img height="150" width="100" src="<%= player.playerImagePath %>">
            <span><%= player.position %></span>
            <span><%= player.name %></span>
        </a>
    </div>
    <% }) %>

<% } %>