<h2 class="page-header"><%= team.name %></h2>

<% if (playersInTeam.length > 0) {%>
    <h2>Players</h2>
     <% playersInTeam.forEach(player => { %>
    <div class='card'>
            <a href="/players/<%= player.id %>">
                <img  src="<%= player.playerImagePath %>" style="width:100%">
            
             <div class="container1">
                <h4 class='caption'><%= player.name %></h4>
                <p class='caption'><i><%= player.position %></i></p>
             </div>
        </div>
        </a>
    <% }) %>

<% } %>